[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
semantic-version = "*"
pynt = "*"
pynt-contrib = "*"
bumpversion = "*"
checksumdir = "*"
prospector = "*"
nose = "*"
sphinx = "*"
safety = "*"
pbr = "*"

[packages]
docopt = "*"

[requires]
python_version = "3.6"
